@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

@font-face {
    font-family: 'Cleanex';
    src: url('../fontes/AmaticSC-Bold.ttf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #ade0e0;
    --cor1: #91CACC;
    --cor2: #3EC4D6;
    --cor3: #51A7BD;
    --cor4: #50AED4;
    --cor5: #4D9CC9;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Archivo Narrow', cursive;
    --fonte-cleanex: 'Cleanex', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

h1 {
    font-family: var(--fonte-cleanex);
    font-size: 3em;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;   
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);

}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.267);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;

}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
}

footer > p > a {
    color: rgb(83, 83, 209);
    text-decoration: none;
    font-weight: bold;
}